<form
    [formGroup]="form"
    (ngSubmit)="submit()"
>
    <h2
        [ngStyle]="{'text-align': 'center', 'margin': '2px'}"
    >
        User App - Log In
    </h2>
    <input formControlName="username" type="text" placeholder="Username">
    <input formControlName="password" type="password" placeholder="Password">
    <button [disabled]="isLoading" type="submit">Log In</button>
    <p
        [ngStyle]="{'text-align': 'center'}"
    >
        Not registered? 
        <a routerLink="/register">Register</a>
    </p>
</form>